body {
    background-color: #132e4c;
}

.btn {
    display: flex;
    flex-wrap: nowrap;
    padding: 10px 8px;
    width: 50px;
    color: #3D3D3D;
    font-family: sans-serif;
    background-image: linear-gradient(to right, #FDFDFD, #DEDEDE);
    border-radius: 10px;
    text-align: center;
    
}
.btn a {
    color: #3D3D3D;
    text-decoration: none;
}
